h1 {
  text-align: center;
  letter-spacing: 5px;
  padding: 10px;
  font-size: 50px;
  color: $outback;
  font-family: $headers-font;
}

h2 {
  color: $outback;
  font-family: $headers-font;
}


.bubble1 {
  margin-top: 150px;
}

.bubbleA {
  border-style: solid;
  border-color: $storm;
  border-width: 1px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 110px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 600px;
}

.bubble {
  border-style: solid;
  border-color: $storm;
  border-width: 1px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 110px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;

  h3 {
    padding-bottom: 10px;
  }

  p {
    padding: 2px;
    margin: 0px;
  }

  .image {
    padding-left: 15px;
    padding-bottom: 20px;
    justify-content: center;
  }

  .info {
    margin-left: 30px;
  }

  .bio {
    margin-left: 70px;
    margin-top: 5px;

    p {
      font-size: 15px;
    }
  }
}
