.homepage-reviews {
  display: flex;
  margin-top: 10px;
  text-align: center;
  padding: 50px;

  p {
    font-size: 20px;
  }
}

.container_review {
  justify-content: center;
  align-items: center;
}

.form-control-homepage {
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  width: 90%;
  padding: 10px;
  padding-top: 10px;
  border-style: solid;
  border-color: $outback;
  background-color: $snow;
}
