<div class="banner" style="background-image: url(<%= asset_path 'homepage.png' %>);">
  <div class="container_banner">
          <h1>BORO makes <strong>borrowing</strong> things <strong> easy</strong>!</h1>
          <p>Safe money and stop buying .</p>
          <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> <%= link_to 'Search', items_path %>
          </button>
        </div>
          <% end %>
        <div class="offer">
          <p>or</p>
          <button name="button2" type="submit" class="btn btn-banner" >
            <i class="fa-solid fa-list"></i></i> <%= link_to 'List Item', new_item_path %>
          </button>
        </div>

  </div>
</div>
