<div class="icons">
  <div class="icon-div">
    <div class="icon-cont">
      <%= image_tag "icons/handshake.svg", width:100, height:100, class:"outback-color mb-3" %>
    </div>
    <h3> Meet people</h3>
    <p>Connect with people in your local community.</p>
  </div>
  <div class="icon-div">
    <div class="icon-cont">
      <%= image_tag "icons/save.svg", width:100, height:100, class:"cosmos-color mb-3" %>
    </div>
    <h3>Help our planet</h3>
    <p>Let's use what we have, not make more.</p>
  </div>

  <div class="icon-div">
    <div class="icon-cont">
      <%= image_tag "icons/hand.svg", width:100, height:100, class:"daintree-color mb-3" %>
    </div>
    <h3>Save extra cash</h3>
    <p>Don't break the bank, borrow instead of buying!</p>
  </div>

   <div class="icon-div">
     <div class="icon-cont">
      <%= image_tag "icons/find-my-friend.svg", width:90, height:90, class:"eureka-color mb-3" %>
     </div>
    <h3>Find anything</h3>
    <p>Get access to more, no commitment needed. </p>
  </div>
</div>
