<div class="icons">
  <div class="icon-div">
    <i class="fa-solid fa-arrow-up" id="icon"></i>
    <p>Access More</p>
  </div>
  <div class="icon-div">
    <i class="fa-solid fa-piggy-bank" id="icon"></i>
    <p>Save Money</p>
  </div>
  <div class="icon-div">
    <i class="fa-solid fa-handshake-simple" id="icon"></i>
    <p>Rent your goods</p>
  </div>
  <div class="icon-div">
    <i class="fa-solid fa-earth-europe" id="icon"></i>
    <p>Help the planet</p>
  </div>
</div>
