<div class="container_review">
    <h1>Recent borrower reviews</h1>
  <div class="homepage-reviews">
    <div class="homepage-review">
      <p>⭐️⭐️⭐️⭐️</p>
      <p>Finally my surfboard is getting used, instead of rotting away in the basement! And I'm earning some extra cash, stoked!</p>
      <p>- <strong>Perry D.</strong></p>
    </div>
    <div class="homepage-review">
      <p>⭐️⭐️⭐️⭐️⭐️</p>
      <p>Only friendly and trustworthy people on this site. Literally got my chess board back cleaner than I lent it away!</p>
      <p>- <strong>Magnus C.</strong></p>
    </div>
    <div class="homepage-review">
      <p>⭐️⭐️⭐️⭐️⭐️</p>
      <p>Just need a bike for getting around town while I'm visiting. Boro makes it easy and fast to borrow things!</p>
      <p>- <strong>Louis A.</strong></p>
    </div>
  </div>
</div>
