<div class="container_review py-4">
  <br>
  <br>
  <div class="Header">
    <h1>Recent borrower reviews</h1>
  </div>
  <div class="review">
    <%= image_tag "nico.jpg" %>
    <p>The Website, I have been wating on for a long Time. Saving money without sacrificing things.</p>
  </div>
</div>
