<div class="container_review">
    <h1>Recent borrower reviews</h1>
  <div class="homepage-reviews">
    <div class="homepage-reviews1">
      <p>Finally my surfboard is getting used, instead of rotting away in the basement!</p>
      <p>⭐️⭐️⭐️⭐️<br>- <strong>Perry D.</strong></p>
    </div>
    <div class="homepage-reviews2">
      <p>Only friendly and trustworthy people on this site. Literally got my chess board back cleaner than I lend it away!</p>
      <p>⭐️⭐️⭐️⭐️⭐️<br>- <strong>Magnus C.</strong></p>
    </div>
    <div class="homepage-reviews3">
      <p>Just need a a bike getting around town I'm visiting. Boro is making it easy and fast to borrow things!</p>
      <p>⭐️⭐️⭐️⭐️⭐️<br>- <strong>Louis A.</strong></p>
    </div>
  </div>
</div>
