<div class="white-background">
  <div class="works-container d-flex">
    <div class="copy-cont d-flex flex-column">
      <h1 class="works-title outback-color">Welcome to Boro!</h1>
      <p class="works-para">Thanks for joining our community of sharing, doing, friendly people.</p>
    </div>
    <div class="icon-cont">
      <%= image_tag "icons/handshake.svg", width:200, height:200, class:"outback-color" %>
    </div>
  </div>
</div>
<div class="works-container d-flex">
  <div class="icon-cont">
    <%= image_tag "icons/save.svg", width:200, height:200, class:"cosmos-color" %>
  </div>
  <div class="copy-cont d-flex flex-column">
    <h1 class="works-title text-align-right cosmos-color">There's enough stuff in the world.</h1>
    <p class="works-para text-align-right">We reckon it's time to stop buying more, and start sharing what we have.</p>
  </div>
</div>
<div class="white-background">
  <div class="works-container d-flex">
    <div class="copy-cont d-flex flex-column">
      <h1 class="works-title daintree-color">Turn dust collectors into cash generators.</h1>
      <p class="works-para">Something in your garage going unused? List it, lend it, spend it. Easy.</p>
    </div>
    <div class="icon-cont">
      <%= image_tag "icons/hand.svg", width:200, height:200, class:"daintree-color" %>
    </div>
  </div>
</div>
<div class="works-container d-flex">
  <div class="icon-cont">
    <%= image_tag "icons/find-my-friend.svg", width:200, height:200, class:"eureka-color" %>
  </div>
  <div class="copy-cont d-flex flex-column">
    <h1 class="works-title text-align-right eureka-color">Find what you need, when you need it.</h1>
    <p class="works-para text-align-right">Browse, borrow, bring it back. Simple.</p>
  </div>
</div>
