<div class="m-3">
  <h1 style="text-align: center;" class="my-4">All Items</h1>
  <div class="cards">
    <% @items.each do |item| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <h3> <%= link_to "#{item.title}", item_path(item) %></h3>
      <h6> <%= item.description %></h6>
      <p> $<%= item.price %> per day</p>
    </div>
      <% end %>
  </div>
</div>
