<div class="m-3">
  <h1 style="text-align: center;" class="my-4">Lend Me!</h1>
  <div class="cards">
    <% @items.each do |item| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path item.photos_attachments[1].key, height: 300, crop: :fill %>')">
      <h3> <%= item.title %> </h3>
      <h6> <%= item.description %></h6>
      <p> $<%= item.price %> per day</p>
    </div>
      <% end %>
  </div>
</div>
