<h1><%= @item.title %></h1>
<p><%= @item.description %></p>
<p><%= @item.price %></p>

<% if current_user == @item.user %>
  <%= link_to "Edit Me!", edit_item_path, class: "btn btn-ghost" %>
<% end %>
