.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup button {
  color: white;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  width: 300px;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 0;
  li{
    background: transparent;
  }
}

.mapboxgl-popup-content img {
  height: 20vh;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.mapboxgl-popup h4 {
  padding-top: 3px;
  padding-bottom: 10px;
  color: black;
   a{
    text-decoration: none;
    color:black;
  }
}

.card-body2 {
  display: flex;
  justify-content: space-between;
}
