.navbar-lewagon {
  justify-content: space-between;
  background: rgb(247, 247, 247);
  height: 80px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #F1683A, #373893, #52B965, #FFCC02) 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  margin-left: 20px;
}

.nav-item {
  padding: 10px 15px;
}

.nav-logged-in {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
