.container_review {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
.review-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
  padding-top: 50px;
}

.review img {
  margin: 1%;
  height: 18vh;
  width: 10vw;
  border-radius: 50%;
  object-position: center;
  object-fit: cover
}
.review p{
  margin-top: 5%;
}
